:root {
    --title-font: 48px;
    --label-font:16px;
    --color-grey:#CFCFCF;
    --color-grey-hover:#b1b1b1;
    --color-light-greenblue: #E1F4F4;
    --color-white: #fff;
    --color-dark-greenblue:#1E6673;
    --color-dark-greenblue-hover:#19555f;
    --color-medium-greenblue:#2FA4B8;
    --color-ultra-light-grey:#F0F0F0;
}

* {
    font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Register box*/
.register {
    height: 100vh;
    display: flex;
    background-color: var(--color-light-greenblue);
    flex-direction: row;
    align-items: center;
}

    /*Aside image*/
        .container-img {
            display: flex;
            flex: .8 2;
            justify-content: center;
            align-items: center;
            height: 100vh;
            animation: moveAnimation 1s ease-in;
        }

        .img-aside{
            width:100%;
            height: 100%;
            object-fit: covers;
            
        }

/*Form box properties*/

.form {
    box-shadow: 0 0 15px var(--color-grey);
    background-color: var(--color-white);
    border-radius: 10%;
    display: inline-flex;
    flex-direction: column;
    padding: 40px 100px;
    padding-right: 120px;
    width: 40%;
    animation: moveAnimation 1s ease-in;
}

.form-container {
    display: flex;
    justify-content: center;
    flex: 1 1;
}


form-text {
    display: flex;
    flex-direction: row;
}

.form-title {
    font-weight: bolder;
    text-align: center;
    color: var(--color-dark-greenblue);
    font-size: var(--title-font);
}

.form-label {
    font-size: var(--label-font);
    color: var(--color-medium-greenblue);
}

.form-input {
    display: flex;
    border: 1px  var(--color-grey) solid;
    border-radius: 100px;
    padding: 0 10px;
    margin: 5px 0 10px 0;
}

.form__input-text {
    margin: 5px 0 10px 0;
    height: 29px;
    width: 100%;
}

.form__input-text:focus {
    outline: none;
}

.form-visibility {
    align-content: center;
    display: inline-flex;
    width: 100%;
    height: 29px;
}

.form__input-visibility {
    border: none;
    border-radius: 100px;
    width: 100%;
}

.input:focus, .form__input-visibility:focus {
    outline: none;
}



.btn {
    border: none;
    outline: none;
    
}

.btn-icon {
    margin-left: auto;
    display: flex;
    align-self: center;
    background-color: transparent;
    user-select: none;
}

.btns {
    display: flex;
    flex-direction: column;
}

.btn-register {
    color: var(--color-white);
    background-color:var(--color-dark-greenblue);
    border-radius: 100px;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    margin: 10px;
    align-self: center;
    box-shadow: 2px 2px 5px var(--color-grey);
}

.btn-register:hover {
    background-color: var(--color-dark-greenblue-hover);
}

.btn-google {
    box-shadow: 2px 2px 5px var(--color-grey);
    width: 50px;
    height: 50px;
    padding: 0;
    background-color:transparent;
    border-radius: 50%;
    padding: 5px;
    border:  1px  var(--color-grey) solid;
    margin: 10px;
    align-self: center;
}

.btn-google:hover {
    background-color:  var(--color-ultra-light-grey) ;
}

.img-google {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.icon-visibility {
    color: var(--color-grey);
    margin: 0;
    padding: 0;
}

.icon-visibility:hover {
    color: var(--color-grey-hover);
    user-select: none;
}
@media screen and (max-width: 1280px) {
    .container-img {
        
        display: none;
    }

    .register {
        display: flex;
       
        height: 100vh;
    }
    .form-container{
        background-color: var(--color-light-greenblue);
    }
    .form {
        background-color: var(--color-white);
        border-radius: 10%;
        display: inline-flex;
        flex-direction: column;
        padding: 20px 80px;
        padding-right: 100px;
        width: 40%;
    }
}

@media screen and (max-width:500px)and (min-width:0px){
    .register{
        height: 100vh;
        display: flex;
        background-color: var(--color-white);
    }
    
    .form-container{
        background-color: var(--color-white);
        display: block;
        padding: 60px;
        padding-right: 70px;
    }
    .form{
        display: inline;
        padding: 0px 20px;
        box-shadow: none;
        border-radius: 0px;
        animation: 1s moveAnimation ease-in;

    }
    .form-title{
        font-size: 35px;
    }

    .form-label{
        font-size: 14px;
    }

    .btn-register{
        font-size: 13px;
    }
    .btn-google{
        padding:5px;
    }
}

@keyframes moveAnimation{
    0%{
        opacity: 0;
        transform: translateX(100);
    }
    100%{
        opacity: 100;
        transform: 0;
    }
}
